* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {padding:0; margin:0;}
body{background:#fff;font: 12px/18px Tahoma, Helvetica, "Helvetica Neue", Verdana, sans-serif;color:#f1f1f1; border-top:4px dashed #514C50;}

A { 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
	color: #232323;
   }
   A:hover { 
    text-decoration: underline; /* Добавляем подчеркивание 
                                   при наведении курсора мыши на ссылку */
   }

.about {float: right; width:450px;height:102px;margin:10px 10px 0 0; padding:10px; background: #ffffff; text-align:justify;}

.footer {width:800px; padding:0 0 10px 220px; text-align:justify; style="text-decoration: none;}

.footer2 {float: right; width:420px;height:102px; padding:0 30px 10px 0; text-align:justify; style="text-decoration: none;}

div.overlay {
	background-image:url(images/white.png);
	width:600px;
	height:470px;		
	display:none;
	padding:55px;
}
div.overlay div.close {
	background-image:url(images/close.png);
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

#overlay {
	background-image:url(images/transparent.png);
	color:#fff;
}
#overgoop {
	background-image:url(images/transparent.png);
	color:#efefef;
}
div.wrap {
	height:441px;
	overflow-y:auto;
}
.contact-title {color: #23B3B6; margin:0; padding:0 0 6px 12px; font-size: 1.2em; text-align:left;}
.contact-input {font-family:'Trebuchet MS', Verdana, Arial; float:left; padding:2px; margin:2px; background:#eee; border:1px solid #fff; width:300px;
}
.lable {
                text-align: right;
				clear:left; 
				display:block;
				padding-right:4px; 
			    font-size: 18px;
				font-family: "Times New Roman", Times, serif;
				
                }
        .input {
                text-align: left;
				background-color:#F0F0F0;
				border: 0px;
				font-size: 18px;
				font-weight:bold;
				font-family: Arial, Helvetica, sans-serif;
				color: #1C5455;
                }
				.link {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;

color: #B70004;
}
.warning_table {

  background: #F0F0F0;
 
	 border: outset 5px #666666;
	 
	 padding: 200px;
	 
	 -moz-border-radius: 5px;

     -webkit-border-radius: 5px;
}

.warning_font_big {

font: Arial;
font-size: 30px;
color: #B70004;
}

.warning_font {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
color: #333;
padding-left: 50px;
padding-right: 25px;
padding-top: 15px;
}